@use "../../../styles/variables.scss" as *;
@use "../../../styles/type-primitives" as *;
@use "../../../styles/mixins-font" as *;
@use "../../../styles/tokens" as *;



.storybook--sidebar-header-icon {
    width: 16px;
    height: 16px;
    stroke: $colorbase-gray-gray-19-value;
}

.storybook--sidebar-header-button {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 6px;
    border-radius: 8px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: $smooth;

    &:hover {
        background-color: $colorbase-gray-gray-2-value;
    }

    &:active {
        background-color: $colorbase-gray-gray-18-value;

        .storybook--sidebar-header-icon {
            stroke: white;
        }
    }
}